<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ethiopian-Gregorian Calendar Converter</title>
    <link rel="stylesheet" href="static/style.css">
    <script src="static/script.js"></script>
</head>
<body>
    <div class="container">
        <header>
            <h1>Ethiopian-Gregorian Calendar Converter</h1>
            <p>Easily convert dates between the Ethiopian and Gregorian calendars.</p>
        </header>
        
        <section class="date-inputs">
            <div class="ethiopian-date">
                <label for="ethiopian-date">Ethiopian Date</label>
                <div class="input-group">
                    <select id="ethiopian-day" name="ethiopian-day">
                        <!-- Options for days will be populated by JavaScript -->
                    </select>
                    <select id="ethiopian-month" name="ethiopian-month">
                        <!-- Options for months will be populated by JavaScript -->
                    </select>
                    <input type="number" id="ethiopian-year" name="ethiopian-year" placeholder="Year">
                </div>
                <button id="convert-to-gregorian">Convert to Gregorian</button>
                <section class="results">
                    <div class="gregorian-result">
                        <label for="gregorian-result">Converted Gregorian Date:(yyyy/mm/dd):</label>
                        <div id="gregorian-result" class="result-container" aria-live="polite"></div>
                    </div>
                </section>
            </div>
            
            <div class="gregorian-date">
                <label for="gregorian-date">Gregorian Date</label>
                <div class="input-group">
                    <input type="date" id="gregorian-date" name="gregorian-date">
                </div>
                <button id="convert-to-ethiopian">Convert to Ethiopian</button>
                <section class="results">
                    <div class="ethiopian-result">
                        <label for="ethiopian-result">Converted Ethiopian Date (yyyy/mm/dd):</label>
                        <div id="ethiopian-result" class="result-container" aria-live="polite"></div>
                    </div>
                </section>
            </div>
        </section>
        
        <footer>
            <p>Powered by Abraham</p>
            <nav>
                <a href="#">About</a>
                <a href="#">Contact</a>
                <a href="#">Privacy Policy</a>
            </nav>
        </footer>
    </div>
</body>
</html>

       
