/* General Styling */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #e0f7fa;
    color: #37474f;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Container */
.container {
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    padding: 30px;
    max-width: 1000px;
    width: 90%;
    text-align: center;
    transition: transform 0.3s ease-in-out;
}

.container:hover {
    transform: translateY(-5px);
}

/* Header */
header h1 {
    color: #00796b;
    margin-bottom: 15px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

header p {
    color: #607d8b;
    margin-bottom: 25px;
    font-size: 1.1rem;
}

/* Date Input Section */
.date-inputs {
    margin-bottom: 30px;
}

.date-inputs div {
    margin-bottom: 20px;
}

.date-inputs label {
    display: block;
    font-size: 1.2rem;
    color: #455a64;
    margin-bottom: 10px;
}

.input-group {
    display: flex;
    gap: 10px;
}

select, input[type="number"], input[type="date"] {
    padding: 12px;
    border-radius: 6px;
    border: 1px solid #b0bec5;
    width: 100%;
    margin-bottom: 10px;
    box-sizing: border-box;
    transition: border-color 0.3s ease-in-out;
}

select:focus, input[type="number"]:focus, input[type="date"]:focus {
    border-color: #00796b;
    outline: none;
}

/* Buttons */
button {
    background-color: #00796b;
    color: #ffffff;
    border: none;
    border-radius: 6px;
    padding: 12px 25px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
}

button:hover {
    background-color: #004d40;
    transform: translateY(-2px);
}

/* Results Section */
.results {
    margin-top: 20px;
}
.result-container {
    padding: 12px;
    border-radius: 6px;
    border: 1px solid #b0bec5;
    width: 100%;
    margin-bottom: 10px;
    box-sizing: border-box;
    background-color: #ffffff;
    font-size: 1.1rem;
    line-height: 1.4;
    min-height: 42px; /* Adjust as needed */
    display: flex;
    align-items: center;
    justify-content: center;
}

.result-container::before {
    content: attr(data-result);
}


.results div {
    margin-bottom: 15px;
}

.results label {
    display: block;
    font-size: 1.2rem;
    color: #455a64;
    margin-bottom: 5px;
}

footer {
    margin-top: 30px;
}

footer p {
    color: #607d8b;
    font-size: 0.9rem;
}

footer nav a {
    color: #00796b;
    text-decoration: none;
    margin: 0 10px;
    transition: color 0.3s ease-in-out;
}

footer nav a:hover {
    color: #004d40;
    text-decoration: underline;
}
